<Parameters>
    <qualysCloudAgentPackagedVersion>5.6.0.20</qualysCloudAgentPackagedVersion>
    <cleanUninstall>n</cleanUninstall>
    <customerID>{edb521d5-b0c5-e3e4-8333-f5dbfb63f8d0}</customerID>
    <activationID>{4ee8accf-4952-47e2-9304-b04b165ee3bb}</activationID>
    <webServiceUri>https://qagpublic.qg2.apps.qualys.eu/CloudAgent/</webServiceUri>
    <proxyPAC>https://proxy.pac</proxyPAC>
    <proxyURL>https://proxy.url</proxyURL>
    <whatIF>n</whatIF>
</Parameters>
